# Enable runtime lineage collection:
#   on = enable runtime lineage collection
#   off = disable runtime lineage collection
#
# NOTE: The collection of runtime lineage does not include the output of lineage artifacts to the file system.
#       See the lineage.execution.output.folder and lineage.execution.generation.strategy properties for
#       information on the output of lineage artifacts.
lineage.execution.runtime=off

# Define the file system location where lineage-related execution artifacts should be written out to
lineage.execution.output.folder=./pentaho-lineage-output

#
# The following property determines the default strategy for generating lineage documents (graphs and execution
# profiles). The choices are as follows:
#
# all: Generates a graph and execution profile(s) for every run of a job or transformation
#
# latest: Generates graph and execution profile(s) for every run of a job or transformation, but only retains the
#    information from the latest run of that job/transformation
#
# none: Does not generate lineage documents
#
lineage.execution.generation.strategy=latest
