[gerrit]
  basePath = git
[database]
  type = h2
  database = db/ReviewDB
[index]
  type = LUCENE
[auth]
  type = DEVELOPMENT_BECOME_ANY_ACCOUNT
[sendemail]
  smtpServer = localhost
[sshd]
  listenAddress = *:29418
[httpd]
  listenUrl = http://*:8080/
  requestLog = false
[cache]
  directory = cache
[receive]
  enableSignedPush = false
[container]
  user = gerrit
  javaHome = /usr/lib/jvm/zulu-8-amd64/jre
