<?xml version="1.0" encoding="UTF-8"?>
<included>
  <jmxConfigurator/>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${appender.pattern}</pattern>
    </encoder>
  </appender>

  <root level="${root.level}">
    <appender-ref ref="console"/>
  </root>

</included>
